<div class="container mt-4" *ngIf="movie">
  <div class="row">
    <div class="col-md-4">
      <img *ngIf="movie.poster_path"
           [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
           class="img-fluid rounded shadow-sm">
    </div>
    <div class="col-md-8">
      <h2>{{ movie.title }}</h2>
      <p><strong>Release:</strong> {{ movie.release_date }}</p>
      <p><strong>Rating:</strong> {{ movie.vote_average }}</p>
      <p><strong>Overview:</strong> {{ movie.overview }}</p>
    </div>
  </div>

  <h4 class="mt-5">Similar Movies</h4>
  <div class="row">
    <div class="col-md-3 mb-3" *ngFor="let smovie of similarMovies">
      <app-movie-card [movie]="smovie"></app-movie-card>
    </div>
  </div>
</div>
