.card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  border: none;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.card-body {
  color: #fff;
}

.card img {
  object-fit: cover;
  height: 300px;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.1);
}
p img{
  height:10px!important;
}

