<div class="container mt-4">
  <!-- <input type="text" class="form-control" placeholder="Search movies or actors..." [(ngModel)]="query" (keyup.enter)="search()" /> -->
  <input type="text" class="form-control"
  placeholder="Search movies or actors..."
  [(ngModel)]="query"
  (keyup.enter)="search()"
  (input)="search()" 
/>

  <div class="mt-4" *ngIf="results.length">
    <h4>Search Results</h4>
    <div class="row">
      <div class="col-md-3 mb-4" *ngFor="let movie of results">
        <app-movie-card [movie]="movie"></app-movie-card>
      </div>
    </div>
  </div>
</div>
